[Unit]
Description=Airflow Scheduler
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/airflow
Environment=
Restart=on-failure
ExecStart=/usr/bin/airflow scheduler
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target