[Unit]
Description=Kibana

[Service]
Type=simple
ExecStart=/opt/kibana/kibana-5.6.0-linux-x86_64/bin/kibana -c /etc/opt/kibana/kibana.yml

[Install]
WantedBy=multi-user.target