[Unit]
Description=Airflow Webserver
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/airflow-webserver
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=airflow webserver
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target