[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/opt/consul/agent/consul agent $OPTIONS -config-dir=/etc/opt/consul.d -pid-file /var/run/consul/consul.pid -bind '{{ GetAllInterfaces | include "flags" "forwardable" | sort "private" | attr "address" }}' 
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target