upstream chronograf {
        server influxdb.service.consul:8888;
}

upstream influxdb_http_api {
        server influxdb.service.consul:8086;
}

server {
    listen 8090;

    root /opt/butler/web/html;
    index index.html index.htm;
    server_name _;
rewrite ^/([^/]+\.*)$ /chronograf/$1;
#rewrite ^/([^/]+\.css)$ /chronograf/$1;
#rewrite ^/([^/]+\.ttf)$ /chronograf/$1;
#rewrite ^/([^/]+\.jpg)$ /chronograf/$1;

        location / {
try_files $uri $uri/ / =404;
proxy_pass http://chronograf/;
}

##    location ~ /chronograf/?(.*)$  {
location ^~ /chronograf/ {
        proxy_pass http://chronograf/;
        proxy_set_header Host $host;
        proxy_set_header X-Real_IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

location /influxdb_http_api/ {
        proxy_pass http://influxdb_http_api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real_IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
}
}

server {
        listen 8091;
        server_name _;

        location / {
                proxy_pass http://chronograf/;
                proxy_set_header Host $host;
                proxy_set_header X-Real_IP $remote_addr;
                proxy_set_header X-Forwarded-For $remote_addr;
        }

        location /a/ {
proxy_pass http://chronograf/;
                proxy_set_header Host $host;
                proxy_set_header X-Real_IP $remote_addr;
                proxy_set_header X-Forwarded-For $remote_addr;
        }

}