upstream chronograf {
	server influxdb.service.consul:8888;
}

upstream rabbitmq {
	server rabbitmq.service.consul:15672;
}

server {
	listen 8090;
	
	root /opt/butler/web/html;
	index index.html index.htm;
	server_name _;

	location / {
		try_files $uri $uri/ / =404;
	}

	location ^~ /chronograf/ {
		proxy_pass http://chronograf/;
		proxy_set_header Host $host;
		proxy_set_header X-Real_IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
	}

	location ^~ /rabbitmq/ {
		proxy_pass http://rabbitmq/;
		proxy_set_header Host $host;
		proxy_set_header X-Real_IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
	}
}